*{
    margin: 0;
    padding: 0;
}
body {
    background-color: #e8e8e6;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

nav {
    background-color: black;
    color: white;
    height: 50px;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 30px;
}

div {
    border-radius: 10px;
    padding: 10px;
    margin: 30px auto;
    height: 380px;
    width: 300px;
    border: 2px solid grey;
    background-color: white;
}

img {
    border-radius: 10px;
    height: 180px;
    width: 300px;
    margin: auto;
    margin-bottom: 15px;
}

.p1 {
    font-size: 20px;
    font-weight: bolder;
}

.p2 {
    color: grey;
    margin-top: 15px;
}
.p3{
    margin-top: 15px;
color: red;
font-weight: 1000;
margin-bottom: 15px;
}
button{
border: 2px solid blue;
background-color: blue;
color: white;
border-radius: 5px;
height: 35px;
width: 100px;
cursor: pointer;
}
button:hover{
background-color:rgb(27, 27, 103);
}