body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

a{ 
    text-decoration: none;
}
h3{
    display:block;

}

.block a{
    background-color: rgb(40, 132, 231);
    height: 30px;
    display: block;
    margin:8px 1px ;
    padding:4px ;
    color: white;
}

.inline a{
    display:inline;
    background-color:rgb(28, 223, 125) ;
    color: white;
    padding: 5px;
    margin: 8px 1px;
    padding: 4px;
    height: 25px;

}
.inline-block a{
    display: inline-block;
    background-color: blueviolet;
    color: white;
    padding: 7px 15px;
    margin: 8px 1px;
}
.float a{
    background-color:orange;
    color: white;
    padding: 10px 15px;
    float: right;
    margin: 8px ; 
} 
.clear{
  clear: both;
  background-color: #f4f4f4;
  padding: 10px;
  margin-top: 20px;
  border: 1px solid #ccc;
}
