*{
    margin: 0;
    padding: 0;
}
.container{
    font-family: Arial, Helvetica, sans-serif;
    height:400px;
    width: 90vw;
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 20px;
    margin: auto;
}
.id1,.id2,.id3{
box-shadow: 2px 2px 5px grey;
height: 200px;
width: 200px;
border-radius: 10px;
}
.circle1,.circle2,.circle3{
    background-color: rgb(54, 98, 232);
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:  20px auto;
    border-radius: 50%;
    color: aliceblue;
    font-weight: 800;
}
p{
    text-align: center;
}
.pi{
    margin: 4px;
    font-size: 12px;
}